.actions {
    padding-left: 18px;
    &__title {
        padding-bottom: calc(25px + (55 - 25) * ((100vw - 320px) / (1920 - 320)));
    }
    &__item {
        margin-bottom: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
    &__item:last-child {
        margin-bottom: 50px;
    }
}

@media (max-width: 1179px) {
    .actions {
        padding-left: 0;
        &__title {
            padding-left: 16px;
        }
    }
}

@media (max-width: 360px) {
    .actions {
        &__item {
            &-img {
                height: 160px;
            }
        }
    }
}