.options {
    padding-top: calc(80px + (110 - 80) * ((100vw - 320px) / (1920 - 320)));
    padding-left: 15px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;
    }
    &__card {
        border: 2px solid $gray-color;
        width: calc(135px + (280 - 135) * ((100vw - 320px) / (1920 - 320)));
        height: calc(135px + (254 - 135) * ((100vw - 320px) / (1920 - 320)));
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            border: 2px solid $accent-color;
        }
        &:hover .options__card-title{
            color: $accent-color;
        }
        &-title {
            text-align: center;
            max-width: 250px;
            margin: 18px auto 0 auto;
            font-size: calc(16px + 8 * ((100vw - 320px) / (1920 - 320)));
            line-height: 100%;
            font-weight: 400;
            transition: color 0.3s;
        }
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-image img {
            width: calc(109px + (220 - 109) * ((100vw - 320px) / (1920 - 320)));
            height: calc(80px + (161 - 80) * ((100vw - 320px) / (1920 - 320)));
        }
    }
}

@media (max-width: 1179px) {
    .options {
        padding-left: 0;
    }
}