.photos {
    padding-left: 18px;
    &__title {
        padding-bottom: calc(36px + (55 - 36) * ((100vw - 320px) / (1920 - 320)));
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(55px + (60 - 55) * ((100vw - 320px) / (1920 - 320)));
    }
}

@media (max-width: 1179px) {
    .photos {
        padding-left: 0;
        &__title {
            padding-left: 16px;
        }
    }
}

@media (max-width: 360px) {
    .photos {
        &__item {
            width: 300px;
        }
    }
}